html{
    height: 100%;
    background-color: rgb(28, 45, 110);
}
body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:monospace;

}
.principal{
    width: 300px;
    height: 400px;
    background-color: rgb(71, 71, 163);
    align-items: flex-start;
    text-align: center;
    border-radius: 2rem;
    border: 1px solid black;
    box-shadow: 8px 10px 12px black;
    flex-direction: column;
    overflow: hidden;
}
.titulo{
    text-align: center;
    padding: 3px;
    font-size: 29px;
}
#boton{
    border-radius: 1rem;
    padding: 4px 15px;
    color: white;
    background-color: rgb(71, 71, 163);
    border: 1px black solid;
    box-shadow: 2px 2px 0px  black;
    animation: pulse 1.5s infinite;
}
@keyframes pulse{
    0%{
        transform: scale(.99);
        box-shadow:0 0 0 0 rgb(96, 96, 200);
    }
    70%{
        transform: scale(1);
        box-shadow:0 0 0 3px rgb(55, 55, 149);
    }
    100%{
        transform: scale(.99);
        box-shadow:0 0 0 0 rgb(96, 96, 200);
    }
}
#nombre{
    display: flex;
    margin-top: 10%;
    margin-left: 16%;
    border-radius: 1rem;
    padding: 8px 20px;
}
#edad{
    padding: 6px 20px;
    display: flex;
    margin-left: 16%;
    border-radius: 1rem;
    margin-top: 10%;
}
#h3{
    text-align: center;
    margin-top: 6%;
    padding: 1px 20px;
    font-size: 18px;
    flex-grow: 1;
    overflow: hidden;
}
#h{
    text-align: center;
    padding: 0px 15px;
    font-size: 18px;
    flex-grow: 1;
    overflow: hidden;
}